.friend_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.friend_item {
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 250px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px gray;
  /*margin: 4px 4px; */
}

.green {
  background-color: #00cc66;
}

.red {
  background-color: crimson;
}
.green,
.red {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.avatar {
  border-radius: 10px;
}
.name {
  font-weight: 500;
}
