@import-normalize; /* bring in normalize.css styles */
@import url(./components/Profile/profile.css);
@import url(./components/FriendList/friends.css);
@import url(./components/Statistics/statistics.css);
@import url(./components/TransactionHistory/transactions.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* div {
  height: '100vh';
  display: 'flex';
  justifycontent: 'center';
  alignitems: 'center';
  fontsize: 40;
  color: '#010101';
} */
